---
layout: default
---

<div class='mainitem' id='about'>
	<div class='hidden-md hidden-lg mainheader'>About</div>

	<p>
		I am an Assistant Professor of <a target='_blank' href='https://cs.brown.edu'>Computer Science</a> at <a target='_blank' href='https://brown.edu'>Brown University</a>, where I co-lead the <a target='_blank' href='https://visual.cs.brown.edu'>Brown Visual Computing</a> group. In my research, I’m broadly interested in the intersection of computer graphics with artificial intelligence and machine learning: I build intelligent machines that understand the visual world and can help people be visually creative. This entails developing technologies that do things such as:
		<ul>
			<li><a target='_blank' href='pdf/hmc.pdf'>Exploring</a> a manifold of good designs</li>
			<li><a target='_blank' href='pdf/patterncolor.pdf'>Suggesting</a> new (or <a target='_blank' href='pdf/hmc.pdf'>unexpected</a>) design possibilities</li>
			<li>Synthesizing new designs <a target='_blank' href='pdf/scenesynth.pdf'>from</a> <a target='_blank' href='pdf/procmod-learn.pdf'>examples</a> or large <a target='_blank' href='pdf/deepsynth.pdf'>datasets</a></li>
			<li>Inferring <a target='_blank' href='https://arxiv.org/abs/1707.09627'>structure</a> from unstructured designs to facilitate editing</li>
			<li><a target='_blank' href='pdf/sosmc.pdf'>Directing</a> the <a target='_blank' href='pdf/ngpm.pdf'>output</a> of stochastic generative processes</li>
		</ul>
	</p>
	<p>
		Much of my group's current work focuses on analyzing, modeling, and synthesizing 3D scenes and the objects that comprise them.
		My research is funded by gifts from Adobe, Autodesk, Pixar, and NVIDIA, as well as grants from DARPA and the National Science Foundation, including an NSF CAREER Award.
	</p>
	<p>
		I received my PhD from <a target='_blank' href='https://stanford.edu'>Stanford University</a>, where I worked with <a target='_blank' href='https://graphics.stanford.edu/~hanrahan'>Pat Hanrahan</a> in the <a target='_blank' href='https://graphics.stanford.edu'>Graphics Lab</a> and with <a target='_blank' href='http://cocolab.stanford.edu/ndg.html'>Noah Goodman</a> in the <a target='_blank' href='http://cocolab.stanford.edu'>Computation and Cognition Lab</a>. I received my undergraduate degree from the <a target='_blank' href='http://www.berkeley.edu'>University of California, Berkeley</a>.
	</p>
</div>

<div class='mainitem' id='news'>
	<div class='mainheader'>News</div>

	{% assign sortednews = site.news | sort: 'date','last' | reverse %}

	{% for newsitem in sortednews limit: 5 %}

		<div class='row newsitem'>
			<div class='col-md-3 col-lg-2 newsdate'>{{ newsitem.date | date: "%B %Y" }}</div>
			<div class='col-md-9 col-lg-10 newscontent'>{{ newsitem.content }}</div>
		</div>

	{% endfor %}

	<a href='newsarchive.html'>Archive</a>

</div>

<div class='mainitem' id='publications'> 

	<div class='mainheader'>Publications</div>

	{% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}

	{% for pub in sorted_pubs %}

		<div class='row pub'>

			{% capture mainlink %}
				{% assign firstlink = pub.links[0] %}
				{% if firstlink.target %}
					{{ firstlink.target }}
				{% elsif firstlink.type == 'pdf' %}
					pdf/{{ pub.id }}.pdf
				{% else %}
					/
				{% endif %}
			{% endcapture %}

			<div class='col-lg-3 col-md-4 col-xs-4 pubimagesection'>
				<a target='_blank' href='{{ mainlink }}'><img class='pubimage img img-responsive' src='img/pubthumbs/{{ pub.id }}.png' width='200'/></a>
			</div>

			<div class='col-lg-9 col-md-8 col-xs-8 pubtextsection'>

				<div class='pubtitle'>
					<a target='_blank' href='{{ mainlink }}'>{{ pub.title }}</a>
				</div>

				<div class='pubauthors'>
					{% for author in pub.authors %}
						{% if forloop.last %}{% unless forloop.first %} and {% endunless %}{% endif %}
						{% if site.data.people[author] %}
							<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}'>
								{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
							</a>
						{% else %}
							{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
						{% endif %}
					{% endfor %}
				</div>


				<div class='pubvenue'>{{ pub.venue }}</div>

				{% for link in pub.links %}
					{% if forloop.first == false %} | {% endif %}

					{% capture lname %}
						{% if link.type == 'link' %}
							{{ link.name }}
						{% else %}
							{{ link.type }}
						{% endif %}
					{% endcapture %}

					{% capture ltarget %}
						{% if link.type == 'link' %}
							{{ link.target }}
						{% else %}
							{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
						{% endif %}
					{% endcapture %}

					<a class='publink' target='_blank' href='{{ ltarget }}'>{{ lname }}</a>
				{% endfor %}

				{% if pub.award %}
					<div><span class='label pubaward'>{{ pub.award }}</span></div>
				{% endif %}

			</div>

		</div>
	{% endfor %}

	</div>

</div>