{% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}

{% for pub in sorted_pubs %}

	<div class='row pub'>

		{% assign linktypes = pub.links | map: 'type' | join ' ' %}

		{% capture pdflink %}
			{% if linktypes contains 'pdf' %}
				{% assign pdflink = (pub.links | where: 'type','pdf')[0] %}
				{% if pdflink.target %}
					{{ pdflink.target }}
				{% else %}
					pdf/{{ pub.id }}.pdf
				{% endif %}
			{% endif %}
		{% endcapture %}

		<div class='col-lg-3 col-md-4 col-xs-5 pubimagesection'>
			{% capture imagehtml %}
				<img class='pubimage img img-responsive' src='img/pubthumbs/{{ pub.id }}.png' width='200'/>
			{% endcapture %}

			{% if linktypes contains 'pdf' %}
				<a target='_blank' href='{{ pdflink }}'>{{ imagehtml }}</a>
			{% else %}
				{{ imagehtml }}
			{% endif %}
		</div>

		<div class='col-lg-9 col-md-8 col-xs-7 pubtextsection'>

			<div class='pubtitle'>
				{% if linktypes contains 'pdf' %}
					<a target='_blank' href='{{ pdflink }}'>{{ pub.title }}</a>
				{% else %}
					{{ pub.title }}
				{% endif %}
			</div>

			<div class='pubauthors'>
				{% for author in pub.authors %}
					{% if forloop.last %} and {% endif %}
					{% if site.data.people[author] %}
						<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}'>
							{{ author }}{% if forloop.last == false %}, {% endif %}
						</a>
					{% else %}
						{{ author }}{% if forloop.last == false %}, {% endif %}
					{% endif %}
				{% endfor %}
			</div>


			<div class='pubvenue'>{{ pub.venue }}</div>

			{% for link in pub.links %}
				{% if forloop.first == false %} | {% endif %}

				{% capture lname %}
					{% if link.type == 'link' %}
						{{ link.name }}
					{% else %}
						{{ link.type }}
					{% endif %}
				{% endcapture %}

				{% capture ltarget %}
					{% if link.type == 'link' %}
						{{ link.target }}
					{% else %}
						{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
					{% endif %}
				{% endcapture %}

				<a class='publink' target='_blank' href='{{ ltarget }}'>{{ lname }}</a>
			{% endfor %}

			{% if pub.award %}
				<div class='pubaward'>{{ pub.award }}</div>
			{% endif %}

		</div>

	</div>
{% endfor %}