<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Affiliations</div>
	<div><a target='_blank' href='http://brown.edu'>Brown University</a></div>
	<div><a target='_blank' href='http://cs.brown.edu'>Computer Science Department</a></div>
	<div><a target='_blank' href='http://visual.cs.brown.edu'>Brown Visual Computing</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>CIT, Room 445</div>
	<div>115 Waterman Street</div>
	<div>Providence, RI 02912</div>
	<!-- <div id='officehours'>(<a target='_blank' href='https://meet.google.com/oto-kagc-ztx'>Remote</a>) Office Hours: Tu 4-5, Fr 3-4</div> -->
	<div id='prospectives'>
		<a target='_blank' href='/prospective_students.html'>Info for prospective students</a>
	</div>
	<div>
		<a href='mailto:daniel_ritchie@brown.edu' style='text-decoration:none'>
		  <img src='/img/icons/email.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://github.com/dritchie' style='text-decoration:none'>
		  <img src='/img/icons/github.svg' type='image/svg+xml'
		       width=36px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='misc/cv.pdf' style='text-decoration:none'>
		  <img src='/img/icons/cv.png'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://soundcloud.com/daniel-ritchie-2' style='text-decoration:none'>
		  <img src='/img/icons/soundcloud.png'
		       width=32px style='vertical-align:middle'>
		</a>
	</div>
</div>

<div class='sidebaritem' id='teaching'>
	<div class='sidebarheader'>Teaching</div>

	{% assign sorted_classes = site.data.teaching | sort: 'startdate' | reverse %}
	{% for class in sorted_classes limit: 4 %}

		<div class='teachingitem'>
			<div class='teachingterm'>{{ class.term }}</div>
			<a class='teachinglink' target='_blank' href='{{ class.link }}'>{{ class.number }}: {{ class.name }}</a>
		</div>

	{% endfor %}

</div>

<div class='sidebaritem' id='travel'>
	<div class='sidebarheader'>Travel</div>

	All travel postponed due to the COVID-19 pandemic

	<!-- {% assign currdate_parts = site.time | date_to_xmlschema | split: 'T' %}
	{% assign currdate = currdate_parts[0] %}

	{% assign sortedtravelitems = site.data.travel.items | sort: 'startdate' %}

	{% for travitem in sortedtravelitems %}

		{% if forloop.rindex <= 3 %}
			{% capture datestring %}
				{% assign startdateparts = travitem.startdate | split: '-' %}
				{% assign startmonthi = startdateparts[1] | minus: 1 %}
				{% assign startmonth = site.data.date.monthnames_short[startmonthi] %}
				{% assign startday = startdateparts[2] %}
				{% assign enddateparts = travitem.enddate | split: '-' %}
				{% assign endmonthi = enddateparts[1] | minus: 1 %}
				{% assign endmonth = site.data.date.monthnames_short[endmonthi] %}
				{% assign endday = enddateparts[2] %}

				{% if travitem.startdate == travitem.enddate %}
					{{ startday }} {{ startmonth }}
				{% elsif startmonth == endmonth %}
					{{ startday}} - {{ endday }} {{ startmonth }}
				{% else %}
					{{ startday }} {{ startmonth }} - {{ endday }} {{ endmonth }}
				{% endif  %}
			{% endcapture %}

			<div class='travelitem {% if travitem.enddate < currdate %} oldtravelitem {% endif %}'>
				<span class='traveldate'>{{ datestring }}</span>&nbsp;&middot;&nbsp;<span class='travelloc'>{{ travitem.location }}</span><br/>
				<span class='travelevent'>{{ travitem.event }}</span>
			</div>
		{% endif %}

	{% endfor %} -->

</div>

<div class='sidebaritem' id='talks'>
	<div class='sidebarheader'>Talks</div>
	{% for talk in site.data.talks %}

		<div class='resource'>
			<a class='resourcelink' href='{{ talk.link }}' target='_blank'>{{ talk.title }}</a>
			<p>{{ talk.venue }}</p>
		</div>

	{% endfor %}
</div>

<div class='sidebaritem' id='resources'>
	<div class='sidebarheader'>Resources</div>
	{% for resource in site.data.resources %}

		<div class='resource'>
			<a class='resourcelink' href='{{ resource.link }}' target='_blank'>{{ resource.name }}</a>
			<p>{{ resource.description }}</p>
		</div>

	{% endfor %}
</div>