<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Affiliations</div>
	<div><a href='http://stanford.edu'>Stanford University</a></div>
	<div><a href='http://stanford.edu'>Computer Science Department</a></div>
	<div><a href='http://graphicsstanford.edu'>Graphics Lab</a> | <a href='http://cocolab.stanford.edu'>CoCoLab</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>Gates Computer Science, Room 381</div>
	<div>Stanford, CA 94305</div>
	<div>
		<a href='mailto:dritchie@stanford.edu' style='text-decoration:none'>
		  <img src='img/icons/email.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a href='https://github.com/dritchie' style='text-decoration:none'>
		  <img src='img/icons/github.svg' type='image/svg+xml'
		       width=36px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a href='https://soundcloud.com/daniel-ritchie-2' style='text-decoration:none'>
		  <img src='img/icons/soundcloud.png'
		       width=32px style='vertical-align:middle'>
		</a>
	</div>
</div>

<div class='sidebaritem' id='travel'>
	<div class='sidebarheader'>Travel</div>

	{% capture currdate %}
		{% assign toks =  site.time | split: ' ' %}
		{{ toks[0] }}
	{% endcapture %}

	{% for travitem in site.data.travel.items %}

		{% capture datestring %}
			{% assign startdateparts = travitem.startdate | split: '-' %}
			{% assign startmonthi = startdateparts[1] | minus: 1 %}
			{% assign startmonth = site.data.travel.monthnames[startmonthi] %}
			{% assign startday = startdateparts[2] %}
			{% assign enddateparts = travitem.enddate | split: '-' %}
			{% assign endmonthi = enddateparts[1] | minus: 1 %}
			{% assign endmonth = site.data.travel.monthnames[endmonthi] %}
			{% assign endday = enddateparts[2] %}

			{% if travitem.startdate == travitem.enddate %}
				{{ startmonth }} {{ startday }}
			{% endif  %}
		{% endcapture %}

		<div class='travelitem {% if travitem.enddate < currdate %}{{ oldtravelitem }}{% endif %}'>
			<span class='traveldate'></span>&nbsp;&middot;&nbsp;<span class='travelloc'>{{ travitem.location }}</span><br/>
			<span class='travelevent'>{{ travitem.event }}</span>
		</div>

	{% endfor %}

</div>